* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

header {
    display: flex;
    font-weight: 500;
    height: 47px;
    background-color: #fff;
    margin-bottom: 48px;

}
header div {
    display: flex;
    align-items: center;
    color: #D0C9D6;
    margin-left: 0px;
    text-decoration: none;
    padding-left: 100px;
}

header div span {
    margin-right: 45px;
}

.activeHeaderSpan {
    color: black;
    border-bottom: 3px solid #6979F8;

}

.mainDiv {
    width: 100%;
    background-color: #E5E5E5;
}

.userDiv {
    display: flex;
    width: 90%;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 18px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
    background-color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    align-items: center;

}

img {
height: 48px;
width: 48px;
border-radius: 50%;
padding: 16px;
}

.photoName {
    display: flex;
    align-items:center;
    width: 18%;
}

.balance {
    display: flex;
    align-items:center;
    width: 45%;
}
.date {
    display: flex;
    align-items:center;
    color: rgba(168, 168, 168, 1);
    width: 22%;
}

.status {
    display: flex;
    align-items:center;
    margin-left: 10px;
    width: 12%;
    color: #3F3356;
    border: none;

}

.status img{
    width: 18px;
    height: 14px;
}
